body{
    background-color: gray ;
    margin: 0px;
}
h2{margin-top: 0px;}
h1{margin-top: 0px;}
p{margin: 0px;}

.body_about{
    width: 100%;
    height: 100vh;
    
}

.div_contact{
    margin-top: 100px;
    text-align: center;
}
/*bodys*/
.body_text_index{
    position: relative;
}
.body_text_welcome{
    position: relative;
    margin:0px;
    padding:0px;
    margin-bottom: -20px;
    
}
.body_text_about{
    position: relative;
    margin-bottom: -20px;
}
.body_text_honorar{
    position: relative;
    margin-bottom: -20px;
}
.body_text_termine{
    position: relative;
    height: 850px;
}
.body_text_veranstaltungen{
    position: relative;
    height: 850px;
}
.body_text_contact{
    position: relative;
    height: 850px;
}
.body_text_impressum{
    position: relative;
    height: auto;
}
.body_text_datenshutz{
    position: relative;
    height: auto;
}
.body_text_kalender{
    height: 850px;
    background-color: lightblue;
}
/*Images*/
.pic{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.pic_logo{
    width: 350px;
    height: 150px;
}
.pic_logo1{
    width: 250px;
    height: 100px;
}
.copyright_image{
    background-color: white;
    width: 20px;
    height: 20px;
}

.center{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.center_con{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.mayatext{
    margin-top: 0px;
}

.ptext{
    margin-top: 30px;
}
/*Header*/
.header{
    display: flex;
    
    width: 100%;
    background-color: black;
    height: 100px;
    
}
.headertext{
display: flex;
align-items: center;   
color: white;
width: 20%;
margin-left: 50px;
font-size: 20px;
}
.headerbuttons{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 60%;
}
.headerbutton{
    width: 100%;
    border: none;
    background-color: black;
    color: white;
}
.headerbutton:hover{
    background-color: white;
    color:black;
}
/*index*/
.body_text_index{
    position: relative;
}
.index_div{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.index_name{
margin-top: 30px;
font-size: 30px;
}
.index_text{
    margin-top: 60px;
    margin-right: 30px;
    margin-left: 30px;
 font-size: 80px;
}
.index_name2{
    margin-top: 0px;
 font-size: 30px;
}
.index_name3{
    margin-top:70px;
    font-size: 60px;
}
/*Welcome*/
.well_text{
    margin-right: 10%;
    margin-left: 10%;
}
.wel_text1{
    text-align: center;
    font-size: 40px;
}
.wel_text2{
    margin-top: 20px;
    font-size: 40px;
}
.wel_text3{
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
}
.h1_wel{
    font-size: 30px;
    text-align: center;
    width: 100%;
    padding-top: 30px;
    gap:30px;
}
.wel_h12{
    margin-top: 30px;
}
.div_wel{
    color: orange;
    }
/*About*/
.about_div{
    padding-top: 70px;
    text-align: center;
    color:white;
}
.about_div_list{
 color:white;
}
.about_div_list_head{
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
}
.about_text{
    color: white;
    font-size: 30px;
    margin-left: 20%;
    margin-right: 20%;
}
.about_heads{
    margin-top: 60px;
    font-size: 25px;
}
.about_heads1{
    padding-top:30px ;
    font-size: 25px;
}
/*Honorar*/
.Honorar_div{
    padding-top: 30px;
    font-size: 30px;
}
.hon_text2{
margin-left: 20%;
margin-right: 20%;
}
.Honorar_div{
    
    text-align: center;
    color:#F5D423;
}
/*Buttons*/
/*Contact*/
.name_con{
    font-size: 90px;
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}
.con_text{
    margin-top: 100px;
    font-size: 30px;
    margin-bottom: 100px;
    line-height: 30px;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.con_bot{
    font-size: 40px;
}

/*Für Termine*/
.Termine_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 10px;
    
}
.Termine_div_div{
    padding-top: 100px;
}
.Termine_uber{
    font-size: 40px;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
}
.Termine_tf{
 height: 30px;
}
.Termine_nachrichten{
    width: 200px;
    height: 100px;
    margin-bottom: 4px;
}

/*body_section*/
.body_section{
    height: 80%;
}
/*Für Impressum*/
body#Impressum_body{
    background-color: rgb(143, 70, 3);

}
.Impressum_Text{
    text-align: center;
    font-size: 30px;
    margin-left:30%;
    margin-right:30% ;
}
/*Für Datenschutz*/
body#Datenschutz_body{
    background-color: rgb(143, 70, 3);

}
.Datenschutz_text{
    text-align: center;
    font-size: 30px;
    margin-left:30%;
    margin-right:30% ;
} 
/*Veranstaltungen*/
.Veranstaltungen_div{
    display: flex
}
.Veranstaltungen_bilder{
    margin-top: 10px;

}
.bilder_Veranstaltungen{
    width: 700px;
    height: 700px;
}
.Veranstaltungen_div_email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left:  49%;
    border-radius: 10px;
}
/*Footer*/
.footer{
    position: static;
}
.footer_section{
    display: flex;
    justify-content: space-between;
    flex-direction:  row;
    background-color: black;

    height: 80px;
    width: 100%;
}
.Copyright_p{
    color: white;
}
.footer_copyright{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
}
.footer_buttons{
    display:flex;
    flex-direction: row;
    margin-right: 20px;
}
/*mobile_dd_menu*/
.mbl_dropdown_menu{
    display: none;
}
/*Kalender*/
.kalender_div{
    display: grid;
    
    justify-content: center;
    
    grid-template-columns: repeat(7,100px) ;
    grid-template-rows: repeat(7,100px);
}     
.full_kalender{
    display: grid;
    grid-template-columns: 23% 54% 23%;
    grid-template-rows: auto;
    
    
}
.kalender_button{
    justify-self:center;
    align-self: center;
    width: 50px;
    height: 50px;

}
.kalender_month{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 30px;
}
@media (max-width:600px)
{
    html{
        height: 100%;
    }
    body
    {
        height: 100%;
        background-color: lightblue;
    }
    
    body#Datenschutz_body
    {
        background-color: lightblue;
    }
    body#Impressum_body
    {
        background-color: lightblue;
    }
    /*bodys*/
.body_text_index{
    position: relative;
    height: 800px;
}
.body_text_welcome{
    position: relative;
    margin-bottom: -20px;
    
}
.body_text_about{
    position: relative;
    margin-bottom: -20px;
}
.body_text_honorar{
    position: relative;
    margin-bottom: -20px;
}
.body_text_termine{
    position: relative;
    height: 850px;
}
.body_text_veranstaltungen{
    position: relative;
    height: 1000px;
}
.body_text_contact{
    position: relative;
    height: 650px;
}
.body_text_impressum{
    position: relative;
    height: auto;

}
.body_text_datenshutz{
    position: relative;
    height: auto;
}
    /*Header*/
    .header{
        display: flex;
        width: 100%;
        background-color: black;
        justify-content: space-between;
        height: 100px;
        
    }
    .headertext{
    display: flex;
    align-items: center;   
    color: white;
    width: 40%;
    flex-direction: row;
    margin-left: 20px;
    font-size: 20px;
    }
    .headerbuttons{
        display: none;
        justify-content: right;
        align-items: center;
        width: 40%;
    }

    /*mobile_dd_menu*/
    .mbl_dropdown_menu{
        display: block;
        padding-top: 30px;
        padding-right: 10px;
    }

    /*fonts*/
    /*index*/
    .index_name{
    margin-top: 30px;
    font-size: 1em;
    }
    .index_text{
        margin-top: 60px;
        margin-right: 30px;
        margin-left: 30px;
        font-size: 1.5em;
        font-weight: bold;
    }
    .index_name2{
        margin-top: 0px;
        font-size: 1em;
    }
    .index_name3{
        margin-top:70px;
        font-size: 1em;
    }
    .body_text_contact{
        position: relative;
        height: auto;
    }
    /*Welcome*/
.well_text{
    margin-right: 10%;
    margin-left: 10%;
}
.wel_text1{
    text-align: center;
    font-size: 1.5em;
}
.wel_text2{
    margin-top: 20px;
    font-size: 1.5em;
}
.wel_text3{
    margin-top: 30px;
    text-align: center;
    font-size: 1.5em;
    
}
.h1_wel{
    font-size:1.5em;
    text-align: center;
    width: 100%;
    padding-top: 30px;
    gap:30px;
}
.wel_h12{
    margin-top: 30px;
}
.div_wel{
    color: orange;
    }
/*About*/
.about_div{
    padding-top: 70px;
    text-align: center;
    color:white;
}
.about_div_list{
 color:white;
}
.about_div_list_head{
    text-align: center;
    margin-top: 50px;
    font-size: 1.25em;
}
.about_text{
    color: white;
    font-size: 1.25em;
    margin-left: 20%;
    margin-right: 20%;
}
.about_heads{
    margin-top: 60px;
    font-size: 1.25em;
}
.about_heads1{
    padding-top:30px ;
    font-size: 1.25em;
}
/*Honorar*/
.Honorar_div{
    padding-top: 30px;
    font-size: 1.25em;
}
.hon_text{
    
    margin-left: 15%;
    margin-right: 15%;
}
.hon_text2{
    margin-left: 20%;
    margin-right: 20%;
}
.Honorar_div{
    
    text-align: center;
    color:#F5D423;
}
/*Buttons*/
/*Contact*/
.name_con{
    font-size: 90px;
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}
.con_text{
    margin-top: 100px;
    font-size: 30px;
    margin-bottom: 100px;
    line-height: 30px;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.con_bot{
    font-size: 40px;
}

/*Für Termine*/
.Termine_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 10px;
    
}
.Termine_div_div{
    padding-top: 100px;
}
.Termine_uber{
    font-size: 40px;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
}
.Termine_tf{
 height: 30px;
}
.Termine_nachrichten{
    width: 200px;
    height: 100px;
    margin-bottom: 4px;
}

/*body_section*/
.body_section{
    height: 80%;
}
/*Für Impressum*/
body#Impressum_body{
    background-color: rgb(143, 70, 3);

}
.Impressum_Text{
    text-align: center;
    font-size: 1em;
    margin-left:30%;
    margin-right:30% ;
}
/*Für Datenschutz*/
body#Datenschutz_body{
    background-color: rgb(143, 70, 3);

}
.Datenschutz_text{
    text-align: center;
    font-size: 1em;
    margin-left:30%;
    margin-right:30% ;
} 
/*Veranstaltungen*/
.Veranstaltungen_div{
    display: block
}
.Veranstaltungen_bilder{
    margin-top: 10px;

}
.bilder_Veranstaltungen{
    width: 400px;
    height: 400px;
}
.Veranstaltungen_div_email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
}
/*Footer*/
.footer{
    position: static;
}
.footer_section{
    display: flex;
    justify-content: space-between;
    flex-direction:  row;
    background-color: black;

    height: 60px;
    width: 100%;
}
.Copyright_p{
    color: white;
}
.footer_copyright{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
}
.footer_buttons{
    display: flex;
    flex-direction: row;
}
/*footer*/
.footer_section{
    display: flex;
    justify-content: space-between;
    flex-direction:  column;
    background-color: black;

    height: 80px;
    width: 100%;
}
/*Images*/
.pic{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.pic_logo{
    width: 350px;
    height: 150px;
}
.pic_logo1{
    width: 250px;
    height: 100px;
}
.copyright_image{
    background-color: white;
    width: 20px;
    height: 20px;
}

.center{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.center_con{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.mayatext{
    margin-top: 0px;
}

.ptext{
    margin-top: 30px;
}
}
@media (min-width:601px) and (max-width:1000px)
{
    .body_text_index{
        position: relative;
        height: auto;
    }
    .body_text_welcome{
        position: relative;
        height: auto;
    }
    .body_text_about{
        position: relative;
        height: auto;
    }
    .body_text_honorar{
        position: relative;
        height: auto;
    }
    .body_text_termine{
        position: relative;
        height: auto;
    }
    .body_text_veranstaltungen{
        position: relative;
        height: auto;
    }
    .body_text_contact{
        position: relative;
        height: auto;
    }
    .body_text_impressum{
        position: relative;
        height: auto;
    
    }
    .body_text_datenshutz{
        position: relative;
        height: auto;
    }
    body
    {
        background-color: lightblue;
    }
    
    body#Datenschutz_body
    {
        background-color: lightblue;
    }
    body#Impressum_body
    {
        background-color: lightblue;
    }
    /*fonts*/
    .body_text_contact{
        position: relative;
        height: auto;
    }
    .mbl_dropdown_menu{
        display: block;
        padding-top: 30px;
        padding-right: 10px;
    }
    .headerbuttons{
        display: none;
        justify-content: right;
        align-items: center;
        width: 40%;
    }

    .Termine_div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: left;
        background-color: rgba(0, 0, 0, 0.8);
        margin-left: 30%;
        margin-right: 30%;
        border-radius: 10px;
        
    }
}
@media (min-width:1001px) and (max-width:1600px)
{
    .body_text_index{
        position: relative;
        height: auto;
    }
    .body_text_welcome{
        position: relative;
        height: auto;
    }
    .body_text_about{
        position: relative;
        height: auto;
    }
    .body_text_honorar{
        position: relative;
        height: auto;
    }
    .body_text_termine{
        position: relative;
        height: auto;
    }
    .body_text_veranstaltungen{
        position: relative;
        height: auto;
    }
    .body_text_contact{
        position: relative;
        height: auto;
    }
    .body_text_impressum{
        position: relative;
        height: auto;
    
    }
    .body_text_datenshutz{
        position: relative;
        height: auto;
    }
    body
    {
        background-color: lightblue;
    }
    
    body#Datenschutz_body
    {
        background-color: lightblue;
    }
    body#Impressum_body
    {
        background-color: lightblue;
    }
    /*fonts*/
    .Termine_div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: left;
        background-color: rgba(0, 0, 0, 0.8);
        margin-left: 40%;
        margin-right: 40%;
        border-radius: 10px;
        
    }

}
@media (min-width:1601px) 
{
    body
    {
        background-color: lightblue;
    }
    body#Datenschutz_body
    {
        background-color: lightblue;
    }
    body#Impressum_body
    {
        background-color: lightblue;
    }
    /*fonts*/
    .Termine_div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: left;
        background-color: rgba(0, 0, 0, 0.8);
        margin-left: 40%;
        margin-right: 40%;
        border-radius: 10px;
        
    }

}
